*{margin: 0;padding:0;}
html,body{
  -webkit-overflow-scrolling:touch;
  -webkit-tap-highlight-color:transparent;
  // font-size: 14px!important;
  // line-height: 21px;
  margin: 0;
  // height: 0;
  height: 100%;
}
body{
  /*font-family: "Times New Roman",Georgia,Serif;*/
  font-family: 'PingFang SC','Microsoft YaHei',Arial, sans-serif;;
  // font-size: 14px;
  -webkit-font-smoothing: antialiased;
  // color:#333333;
  position:relative;
  // max-width: 750px;
  min-width:320px;
  margin:0 auto;
}
/*reset*/
a,a:visited,a:hover,a:active{text-decoration: none;-webkit-tap-highlight-color:transparent}
input,button{outline: none;border: 0;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
h1,h2,h3,h4,h5,h6{ font-size: 100%;}
ul, ol, li {
  list-style-type: none;
}
span{
  display: inline-block;
}
/*clearfix*/
.clearfix:before, .clearfix:after {
  content:"";
  display:table;
}
.clearfix:after{
  clear:both;
  overflow: hidden;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color:#999999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:#999999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:#999999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:#999999;
}
/* .clearfix{
    *zoom:1;IE/7/6
} */
img{
  max-width: 100%;
  height: auto;
  border: 0px none;
  vertical-align:middle;
  display: inline-block;
}
/*float*/
.fl {
  float: left;
}
.fr {
  float: right;
}
/* widget */
i,em{
  display: inline-block;
  font-style: normal;
}
p{margin-bottom:0}
/*reset-end*/